---
title: Livecodelab
bodyclass: light
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{ title }}</title>
  </head>
  <body class="{{ bodyclass }}">
    {{ content | safe }}
  </body>
</html>
