{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "safari >= 8",
          "chrome >= 49",
          "firefox >= 50",
          "ie >= 11",
          "last 1 edge version"
        ]
      }
    }]
  ]
}
