body {
    background: #fff;
    color: #333;
    font: 12px/22px verdana, arial, sans-serif;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    padding: 0;
}


@font-face {
    font-family: MavenPro-Medium;
    src: url("fonts/MavenPro-Medium.eot") /* EOT file for IE */
}
@font-face {
    font-family: MavenPro-Medium;
    src: url("fonts/MavenPro-Medium.ttf") /* TTF file for CSS3 browsers */
}

h3 {
    color: #3a6d8c;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    margin: 0 0 8px 0;
}

img {
    border: 0;
}

h1 {
    color: #666;
    letter-spacing: -1px;
    font-weight: normal;
}

h1 span {
    color: #444;
    font-weight: bold;
}

#dangerSignText {
    color: #000000;
    text-decoration: none;
}
#dangerSign:hover {
    background: #000000;
}

#errorMessageText {
    text-decoration: none;
}
#errorMessage:hover {
    background: #000000;
}

.verticalMiddleOfScreen {
    color: white;
    background-color: transparent;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: visible;
    visibility: visible;
    z-index: 3;
    display: block
}

.fakeAnimationContent {
    font-family: Verdana, Geneva, Arial, sans-serif;
    background-color: transparent;
    margin-left: -1.5em;
    position: absolute;
    top: -1.1em;
    left: 50%;
    width: 3em;
    height: 2em;
    padding-top: 0px;
    visibility: visible
}

.top {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 0px;
    right: 5px;
    padding: 5px;
}

.menubar {
    background-color: black;
    position: fixed;
    z-index: 4;
    top: 0px;
    left: 0px;
    width: 100%
}


#startingCurtainScreen {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 4;
    top: 0px;
    left: 0px;
}

#miao {
    position: fixed;
    top: 30px;
    left: 0px;
    width: 100%;
    font-size: 3em;
}

#code {
    z-index: 1;
}

#toMove {
    font-size: 30em;
}

#justForFakeCursor {
    font-size: 30em;
}

#loading {
    font-size: 3em;
    color: red;
}

#threeJsCanvas {
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: -2;
}

#backgroundCanvasOrDiv {
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: -3;
}

